img {
  border-radius: var(--bs-border-radius) !important;
  width: 100% !important;
  max-width: 350px;
  display: block !important;
  object-fit: scale-down;
  padding: 0px;
  margin: 0px;
}
.swiper-container {
  overflow-x: hidden; /* Para ocultar la barra de desplazamiento horizontal */
  overflow-y: visible; /* Mantener el desplazamiento vertical si es necesario */
}

/*infoDePagina*/
.infoDePagina {
  font-family: 'Times New Roman', Times, serif;
  background: linear-gradient(90deg, #70cdf2 0%, #33aada 50%);
  color: #e9eaee;
}

.container {
  width: 100%; /* Ancho completo para ocupar el espacio disponible */
  display: flex;
  object-fit: scale-down;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  box-sizing: border-box;
  perspective: 800px; /* Mueve la perspectiva al contenedor padre */
  border-radius: 4px;
}