.logout-button{
    background-color: #dc3545;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Duración de 0.3 segundos y tipo de transición 'ease' */
}

.logout-button:hover {
    background-color: #842029; /* Nuevo color de fondo al hacer hover */
}

