<div class="wrapper">
  <div class="body">
    <img class="logo" src="../../../assets/img/usuario.png" alt="">
    <h1>Registrarse</h1>
    <div class="form-floating mb-3 mt-3">
      <input type="text" [(ngModel)]="username" class="form-control" placeholder="Ingrese su usuario">
      <label>Usuario</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" [(ngModel)]="password" class="form-control" placeholder="Ingrese su contraseña">
      <label>Password</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" [(ngModel)]="confirmPassword" class="form-control" placeholder="Ingrese su contraseña">
      <label>Repeat Password</label>
    </div>
    <div class="d-grid gap-2 mb-3">
      <button type="button" (click)="addUser()" class="btn btn-primary btn-lg" >Ingresar</button>
    </div>
    <a routerLink="/login">Volver</a>
  </div>
</div>
