.wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh; /* Ajusta la altura según tus necesidades */
    background: url('../../../assets/img/background-login2.jfif') no-repeat center center;
    background-size: cover; /* Ajusta esta propiedad según tus necesidades */
  }
  

  .glass-effect {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
  }