@import "swiper/swiper-bundle.min.css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  height: 100%;
}

.logo {
  height: 130px;
  margin-bottom: 10px;
}

.body {
  max-width: 500px;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-floating {
  margin-bottom: 15px;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group select, .input-group input {
  width: 50%;
}
